<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard</title>

<style>
body{
margin:0;
background:#0a192f;
color:white;
font-family:Arial;
}

.header{
background:#112240;
padding:20px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
margin-top:50px;
}

.card{
background:#112240;
padding:30px;
border-radius:15px;
width:200px;
text-align:center;
}
</style>

</head>
<body>

<div class="header">
<h1>Smart Global Logistics Dashboard</h1>
</div>

<div class="cards">

<div class="card">
<h3>Shipments</h3>
<p>120</p>
</div>

<div class="card">
<h3>Drivers</h3>
<p>35</p>
</div>

<div class="card">
<h3>Vehicles</h3>
<p>50</p>
</div>

</div>

</body>
</html>
