<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>

<style>
body{
margin:0;
font-family:Arial;
background:#0b1026;
color:white;
}

.header{
background:#111827;
padding:20px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
margin-top:50px;
flex-wrap:wrap;
}

.card{
background:#1e3a8a;
padding:30px;
border-radius:15px;
width:250px;
text-align:center;
}
</style>

</head>
<body>

<div class="header">
<h1>Smart Global Logistics Dashboard</h1>
</div>

<div class="cards">

<div class="card">
<h2>Shipments</h2>
<h1>120</h1>
</div>

<div class="card">
<h2>Vehicles</h2>
<h1>50</h1>
</div>

<div class="card">
<h2>Employees</h2>
<h1>35</h1>
</div>

</div>

</body>
</html>
