<!DOCTYPE html>
<html>
<head>
    <title>Smart Global Logistics System</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            text-align:center;
            margin-top:100px;
            background:#f4f4f4;
        }
        .card{
            background:white;
            padding:30px;
            border-radius:10px;
            width:60%;
            margin:auto;
            box-shadow:0 0 10px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
<div class="card">
    <h1>Smart Global Logistics System</h1>
    <h3>Cloud Deployed Project</h3>

    <p>✅ Spring Boot</p>
    <p>✅ MySQL Database</p>
    <p>✅ Railway Cloud Database</p>
    <p>✅ Render Deployment</p>
    <p>✅ JWT Authentication</p>

    <h3>Developed by Darshan</h3>
</div>
</body>
</html>
