<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<style>
body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#0b1026;
font-family:Arial;
}

.card{
background:white;
padding:40px;
border-radius:15px;
width:350px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}
</style>

</head>
<body>

<div class="card">

<h2>Login</h2>

<form>

<input type="text" placeholder="Username">

<input type="password" placeholder="Password">

<button type="submit">Login</button>

</form>

</div>

</body>
</html>
